* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #3c3836;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  background-color: #3c3836;
  color: #eadbb2;
  border-radius: 0;
}

#workspaces button:hover {
  color: #eadbb2;
  background-color: #a9ca24;
}

#workspaces button.active {
  background-color: #3c3836;
  color: #a9ca24;
}

#workspaces button.urgent {
  background-color: #cc241d;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#battery,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  background-color: #3c3836;
}

#mpris.playing {
  color: #a6e3a1;
}

#mpris.paused {
  color: #9399b2;
}

#custom-sep {
  color: #585b70;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #8ec07c;
}

#memory {
  color: #8ec07c;
}

#clock {
  color: #d79921;
}

#clock.simpleclock {
  color: #d79921;
}

#window {
  color: #eadbb2;
}

#battery {
  color: #66bb6a;
}

#pulseaudio {
  color: #458588;
}

#pulseaudio.muted {
  color: #458588;
}

#custom-logo {
  color: #89b4fa;
}

#custom-power {
  color: #cc241d;
}

tooltip {
  background-color: #181825;
}
